body{
    width: 100vw;
    height: 100vh;
    /* margin: 10px; */
    background-color: #FFFFFF;
    /* overflow-x: hidden; */
}

.contact-info{
    color: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
    background-color: #5E00A6;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.signup{
    color: #AC44C1;
}

.icons{
    padding: 10px;
}

nav{
   display: flex;
    justify-content: space-evenly;
    padding: 6px;
}

.logo{
    display: flex;
    gap: 3px;
}

ul{

    list-style: none;
    display: flex;
    gap: 18px;
    
}


.nav-list{
    text-decoration: none;
    color: #000000;
}